{% extends 'base.html.twig' %}

{% block title %}Hello WorkflowController!{% endblock %}

{% block body %}
    <h3>Actions</h3>
    {% if workflow_can(post, 'publish') %}
        <a href="{{ path('next', {'transition': 'publish'}) }}">Publish article</a>
    {% endif %}
    {% if workflow_can(post, 'to_review') %}
        <a href="{{ path('next', {'transition': 'to_review'}) }}">Submit to review</a>
    {% endif %}
    {% if workflow_can(post, 'reject') %}
        <a href="{{ path('next', {'transition': 'reject'}) }}">Reject article</a>
    {% endif %}
    {% if workflow_can(post, 'reject') %}
        <a href="{{ path('next', {'transition': 'reject'}) }}">Reject article</a>
    {% endif %}
<hr>
    {# Or loop through the enabled transitions #}
    {% for transition in workflow_transitions(post) %}
        {% if workflow_can(post, transition.name) %}
            <a href="{{ path('next', {'transition': transition.name, 'id': id}) }}">Transition | << {{ transition.name }} >></a>
            <br>
        {% endif %}
    {% else %}
        我是已经发布，不能做任何事情了
    {% endfor %}

    {# Check if the object is in some specific place #}
    {% if workflow_has_marked_place(post, 'review') %}
        <p>This post is ready for review.</p>
    {% endif %}

    {# Check if the object is in some specific place #}
    {% if workflow_has_marked_place(post, 'rejected') %}
        <p>This post is rejected. need to modify and resubmit</p>
    {% endif %}

    {# Check if some place has been marked on the object #}
    {% if 'rejected' in workflow_marked_places(post) %}
        <span class="label">PENDING</span>
    {% endif %}
<hr>
    我能重置: <a href="{{ path('reset', {'id': id}) }}">点我</a> | 我想看一下图： <a href="{{ path('image', {'id': id}) }}">看图</a>
{% endblock %}
